body {
	padding-top: 70px !important;
}

.navbar, .navbar.navbar-default,
.panel.panel-primary>.panel-heading {
	background-color: #005196;
}

.navbar .dropdown-menu li>a:focus, .navbar .dropdown-menu li>a:hover, .navbar.navbar-default .dropdown-menu li>a:focus, .navbar.navbar-default .dropdown-menu li>a:hover,
.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary,
a, a:hover {
	color: #005196;
}
